body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  height: 800px;
  width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  height: 10vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  width: 100%;
  max-width: 100vh;
}

.form-group {
  display: contents;
}

.form-label {
  align-self: center;
}

.form-input, .form-button {
  grid-column: 2;
}

.form-error {
  grid-column: 2;
  color: red;
  font-size: 0.9em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
}





.margin10 {
  margin: 10px;
  padding: 10px;
}

.margin10vh {
  margin: 10vh;
  padding: 10vh;
}


.margin-top-bot10vh {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.margin-top10vh {
  margin-top: 10vh;

}

.white-text {
  color: white;
  font-weight: 900;
}

.white-border {
  border: 1px solid white;
  border-radius: 10px;
}

.white-border:hover {
  border: 3px solid white;
}

.transparent-background {
  background-color: transparent;
}


.vh100 {
  min-height: 100vh;
  min-width: 100vh;
}

.react-background {
  background-color: #282c34;
}

.vh20{
  height: 20vh;
  width: auto;
}
.vh50 {
  height: 50vh;
  width: auto;

}

.vh5 {
  height: 5vh;
  width: auto;
}
.vh6 {
  max-height: 10vh;
  max-width: auto;
}

.font-size-5vh {
  font-size: 5vh;
}

.font-size-3vh {
  font-size: 3vh;
}

.font-size-15vh {
  font-size: 15vh;
}




