body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  height: 800px;
  width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  height: 10vh;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}





.margin10 {
  margin: 10px;
  padding: 10px;
}

.white-text {
  color: white;
  font-weight: 900;
}

.white-border {
  border: 1px solid white;
  border-radius: 10px;
}

.white-border:hover {
  border: 3px solid white;
}

.transparent-background {
  background-color: transparent;
}


.vh100 {
  min-height: 100vh;
  min-width: 100vh;
}

.react-background {
  background-color: #282c34;
}


